.header {
    display: flex;
    align-items: center;
    padding: 3.5rem 6rem;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: relative;
}

.burger-menu span {
    width: 2rem;
    height: 0.25rem;
    background-color: white;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.burger-menu.open span:nth-child(1) {
    transform: rotate(45deg);
}

.burger-menu.open span:nth-child(2) {
    opacity: 0;
}

.burger-menu.open span:nth-child(3) {
    transform: rotate(-45deg);
}

@media (max-width: 768px) {
    .header {
        position: fixed;
        padding: 1.5rem;
        flex-direction: column;
        /*background-color: #061D3C;*/
        backdrop-filter: blur(10px);
    }

    .header.menu-open {
        /*background-color: #061D3C;*/
        backdrop-filter: blur(50px);
    }

    nav {
        justify-items: center;
        width: 100%;
        grid-gap: 25px;
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}