.styled-range {
-webkit-appearance: none;
  appearance: none; 
  flex: 1;
  height: 2px;
  border-radius: 2px;
  background: #4b4b4b;
  display: flex;
  align-items: center;
}

/* Thumb: webkit */
.styled-range::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
}

/* Thumb: Firefox */
.styled-range::-moz-range-thumb {
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
}
