.explorer {
  width: 100%;
  background-image: url('../../assets/background/explorebg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
