//.explorer {
//  width: 100%;
//  height: 100vh;
//  background-image: url('../../assets/background/bells_bg.webp');
//  background-repeat: no-repeat;
//  background-size: cover;
//  background-position: center center;
//  background-attachment: fixed;
//}

//.explorer {
//  position: relative;
//  width: 100%;
//  height: 100vh;
//}
//
//.explorer::before {
//  content: "";
//  position: fixed;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  z-index: -1;
//  background-image: url('../../assets/background/bells_bg.webp');
//  background-repeat: no-repeat;
//  background-size: cover;
//  background-position: bottom center;
//}

.explorer {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/background/bells_bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  overflow-y: auto;
}
