.container {
  @apply overflow-x-auto w-full flex;
}

.table {
  @apply w-full border-separate border rounded-[21px] border-white border-spacing-y-[0px] max-sm:min-w-max;
  thead {
    @apply text-black;
  }
  tr {
    th:not(:last-child),
    td:not(:last-child) {
      @apply border-r border-white border-opacity-60;
    }
    th {
      @apply py-2 px-4 xl:px-2 first:rounded-tl-[20px] last:rounded-tr-[20px];
    }

    td {
      @apply py-[6px] px-4;
    }
  }
  tr:last-child{
    td{
      @apply first:rounded-bl-[20px] last:rounded-br-[20px];
    }
  }
}

.AdditionalTable {
  @apply w-full bg-black rounded-3xl max-sm:min-w-max;

  tr {
    th:not(:last-child),
    td {
      @apply border border-[#FB0] border-opacity-40;
    }
    th {
      @apply py-2 px-4 w-1/5;
    }
    td {
      @apply py-2 px-4;
    }
  }
}