
.app-container {
  background-image: url("./assets/newbgwith.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%
}

.main_screen {
  min-height:100vh;
  margin-top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

#root {
  margin: 0 auto;
  padding: 0;
}
