.app-container {
  background-image: url("./assets/original.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

#root {
  margin: 0 auto;
  padding: 0;
}
