@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700&family=VT323&display=swap');
:root {
  font-family: Inconsolata, serif;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/*Disable scroll only in mobile devices*/
.mobile-scroll-disable { 
  overflow: auto;
}

@media screen and (max-width: 850px) {
  .mobile-scroll-disable {
    overflow: hidden;
  }
}
